# Snowflake connection settings
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_DATABASE=
SNOWFLAKE_SCHEMA=
SNOWFLAKE_ANALYTICS_SCHEMA=
SNOWFLAKE_ACCOUNT_URL=

# Cortex Analyst settings
CORTEX_ANALYST_STAGE=
CORTEX_ANALYST_SEMANTIC_MODEL_FILE=
CORTEX_ANALYST_SEMANTIC_MODEL_PATH=semantic_models/f1_analyst.yaml
CORTEX_ANALYST_SEMANTIC_VIEW=
CORTEX_ANALYST_AUTH_TOKEN=
CORTEX_ANALYST_AUTH_TOKEN_TYPE=OAUTH
